* {
background-color: tan;
}

.body {
  background-color: blue;
  position: relative;
  display: flexbox;
  height: 100%;
  width: 100%;
}

.nav-bar * {
background-color: brown;
}

.hero * {
  background-color: whitesmoke;
 
}

.business-listing * {
  background-color: teal;
}

.map-section * {
  background-color: tomato;
}

.category-selector * {
  background-color: violet;
}

.info-boxes * {
  background-color: yellowgreen;
}

.footer * {
  background-color: yellow;
}